header {
    position: fixed;
    background-color: hsl(182, 25%, 50%);
    width: 100%;
    top: 0;
    left: 0;
    padding: 7px 0;
}

header h1 {
    position: relative;
    left: 10px;
    top: 0;
    display: inline;
}

body {
    position: relative;
    top: 60px;
}

nav {
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
}

.tab:hover {
    background-color: hsl(182, 25%, 60%);
}

.tab:hover p {
    /* color: hsl(50, 100%, 10%); */
    color: hsl(0, 0%, 10%);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    position: relative;
    height: 100%;
    text-decoration: none;
}

.tab p {
    position: relative;
    top: 7px;
    margin: 7px;
    color: hsl(0, 0%, 00%);  /*def a better way to do this*/
}

h1, h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#linkedin {
    width: 73px;
    height: 19px;
}